<% content_for :inpage_css do %>
h1 { color:red; }
<% end %>

<p id="notice"><%= notice %></p>
<h1> {{ message }} </h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Planday</th>
      <th>Newnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.planday %></td>
        <td><%= note.newnum %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Note', new_note_path %>

<% content_for :inpage_js do %>
console.log("Hello");
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
});
<% end %>
